.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background: var(--bg-color);
}

.btn {
  color: var(--inverted-secondary-color);
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: var()
}
